body {
  font-family: "Montserrat-bold";
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}


h2 {
  font-size: 3rem;
  line-height: 1.5;
}


h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;

}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download Button */
.download-button{
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  left: 20%;

}

/* features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;


}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ff4c68;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ef8172;
}

/* testimonial section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  text-align: center;
}
/* CTA section */

#cta {
  background-color:#ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer section */
#footer {
    padding: 2% 15%;
    text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 990px) {

.nav-link {
  text-align: left;
}

#title{
  text-align: center;
}


  .title-image {
    position:static;
transform: rotate(0);
  }
}
